@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

body{
  font-family: 'Quicksand', sans-serif !important;
  background-color: #D6C8E4 !important;
  padding-bottom: 20px;
}

.round-font{
  font-family: "Chewy", system-ui;
}